.container{
  display:flex;
  justify-content:space-around;
  margin-top:70px;
}

.mystyle1{
  padding:20px;
  border-right:5px solid green;
  width:30%;
}

.st2{
  padding:20px;
  border-right:5px solid green;
  width:30%;
}

.v1{
  padding:20px;
  width:30%;
}

h1{
  font-size:40px;
  font-weight:bold;
}

h2{
  font-size:25px;
  font-weight:bold;
}

h3{
  font-size:18px;
}

h4{
  font-size:18px;
}

p{
  font-size:18px;
}